{% extends "base.html" %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta
                name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="Referrer" content="origin"/>
        <title>Clinics</title>
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
                rel="stylesheet"
                crossorigin="anonymous"
        />
        <link href="{% static 'css/clinics-style.css' %}" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                crossorigin="anonymous"
        ></script>
    </head>
    <body>
    <div class="top">
        <div class="content container">
            <div class="header">
                <div class="logo">
                    <img src="{% static 'img/vaccine.svg' %}"/>
                    <span>Clinics</span>
                </div>
            </div>
            <div class="top-form">
                <form method="POST" action="{% url 'clinics:search' %}">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="title">Find a Vaccination Clinic</div>
                                
                        </div>
                        <div class="col-sm-6">
                            <div class="form-item">
                                <div class="label">
                                    Age group of person(s) seeking services
                                </div>
                                <div class="input">
                                    <div class="form-check form-check-inline">
                                        <input
                                                class="form-check-input"
                                                type="checkbox"
                                                name="ages"
                                                value="allAges"
                                                id="top-form-age-all"
                                        />
                                        <label class="form-check-label" for="top-form-age-all">
                                            All ages
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                class="form-check-input"
                                                type="checkbox"
                                                name="ages"
                                                value="children"
                                                id="top-form-age-chilren"
                                        />
                                        <label
                                                class="form-check-label"
                                                for="top-form-age-chilren"
                                        >
                                            Children
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                class="form-check-input"
                                                type="checkbox"
                                                name="ages"
                                                value="adults"
                                                id="top-form-age-adults"
                                        />
                                        <label class="form-check-label" for="top-form-age-adults">
                                            Adults
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                class="form-check-input"
                                                type="checkbox"
                                                name="ages"
                                                value="seniors"
                                                id="top-form-age-seniors"
                                        />
                                        <label
                                                class="form-check-label"
                                                for="top-form-age-seniors"
                                        >
                                            Seniors
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input
                                                class="form-check-input"
                                                type="checkbox"
                                                name="ages"
                                                value="others"
                                                id="top-form-age-others"
                                        />
                                        <label class="form-check-label" for="top-form-age-others">
                                            Others
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divide-line"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-item">
                                <div class="label">Search by ZIP code</div>
                                <div class="input">
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="zipCode"
                                            id="top-form-zip-code"
                                            placeholder="e.g. 10000"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-item">
                                <div class="label">State</div>
                                <div class="input">
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="state"
                                            id="top-form-zip-code"
                                            placeholder="e.g. PA"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-item">
                                <div class="label">City</div>
                                <div class="input">
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="city"
                                            id="top-form-zip-code"
                                            placeholder="e.g. pitts"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-item">
                                <div class="label">Location</div>
                                <div class="input">
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="location"
                                            id="top-form-location"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-item">
                                <div class="label">Date</div>
                                <div class="input">
                                    <select
                                            class="form-select form-select-inline"
                                            style="width: 30%; display: inline-block"
                                            name="year"
                                    >
                                        <option value="2021" selected disabled hidden>2021</option>
                                        <option value="2026">2026</option>
                                        <option value="2025">2025</option>
                                        <option value="2024">2024</option>
                                        <option value="2023">2023</option>
                                        <option value="2022">2022</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                    </select>
                                    <select
                                            class="form-select form-select-inline"
                                            style="width: 40%; display: inline-block"
                                            name="month"
                                    >
                                        <option value=""></option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select
                                            class="form-select form-select-inline"
                                            style="width: 25%; display: inline-block"
                                            name="day"
                                    >
                                        <option value=""></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-item">
                                <div class="label">Vaccine brand name</div>
                                <div class="input">
                                    <select
                                            class="form-select form-select-inline"
                                            name="vaccineBrand"
                                    >
                                        <option value="all">All</option>
                                        <option value="pfizer">Pfizer</option>
                                        <option value="moderna">Moderna</option>
                                        <option value="janssen">Janssen</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-2" style="margin-top: 5px; margin-bottom: 15px">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                        <div class="col-auto">
                            <button type="reset" class="btn btn-light">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="content container" style="padding: 30px 0">
            <div class="row g-3">
                {% for clinic in clinics %}
                    <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <img
                                    src="{{ clinic.pic_address }}"
                                    class="card-img-top"
                            />
                            <div class="card-body">
                                <h5 class="card-title">{{ clinic.name }}</h5>
                                <h6 class="card-title">{{ clinic.address }} {{ clinic.city }}, {{ clinic.state }}, {{ clinic.zip_code }}</h6>
                                <p class="card-text">
                                    <b>Vaccinations offered:</b>
                                    {% if clinic.phizer_stock > 0 %}Phizer{% endif %}
                                    {% if clinic.moderna_stock > 0 %}Moderna{% endif %}
                                    {% if clinic.janssen_stock > 0 %}Janssen{% endif %}
                                    <br/>
                                    <b>Age groups served:</b>
                                    {% if clinic.All_Ages == True %}All_Ages{% endif %}
                                    {% if clinic.Children == True %}Children{% endif %}
                                    {% if clinic.Adults == True %}Adults{% endif %}
                                    {% if clinic.Seniors == True %}Seniors{% endif %}
                                    {% if clinic.Others == True %}Others{% endif %}
                                    <br/>
                                </p>
                                {% if user.is_authenticated %}
                                <a href="{% url 'clinics:clinic_schedule' clinic_id=clinic.id %}" class="btn btn-primary">Schedule</a>
                                {% else %} 
                                <a href="{% url 'clinics:clinic_schedule' clinic_id=clinic.id %}" class="btn btn-primary disabled">Sign in to schedule</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div>©️ 2021 Clinics Team</div>
    </div>
    </body>
    </html>
{% endblock content %}

