<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://www.facebook.com/CDC" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/cdcgov" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://www.youtube.com/channel/UCiMg06DjcUk5FRiM3g5sqoQ" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://github.com/xingq1998/CIS422_group4_project1" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2021 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> Team_name: NOMAD </a>
    </div>
    <!--/.Copyright-->

</footer>