{% extends "base.html" %}

{% block content %}
    <main>
        <head>
            <div class="Header" >
                <strong class="black-text">COVID-19 Vaccines: Information and Appointments</strong>
                <style>
                    .Header{font-size: 200%}
                    .Header {
                        text-align: center;
                    }
                </style>
            </div>
        </head>

        <div class="container">
            <p>hello world</p>
            {{ print }}
            {{ test }}
        </div>
    </main>

{% endblock content %}


