{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% csrf_token %}
            <br>
            <div class="col-md-4"> error: {{ message }}</div>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <form class="clinics" method="GET" action="{% url 'clinics:search' %}">{% csrf_token %}
        <button class="btn btn-primary" type="submit">clinics search</button>
    </form>
    {% endif %}
</div>
{% endblock content %}